<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/logo.png">
  <title>Midleman Dashboard</title>
  <link rel="stylesheet" href="/dashboard/css/dashboard.css">
  <link rel="stylesheet" href="/dashboard/css/request-detail.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.7/ace.min.js" crossorigin="anonymous"></script>
</head>
<body>

  <!-- INJECT_SETUP -->
  <!-- INJECT_LOGIN -->
  <!-- INJECT_APP -->

  <script src="/dashboard/js/dashboard-app.js"></script>
  <script src="/dashboard/js/dashboard-charts.js"></script>
  <script src="/dashboard/js/dashboard-data.js"></script>
</body>
</html>